body {
    margin: 0px;    
    background: #e6e2fa;
    color: black;
    font-family: 'Raleway', sans-serif;
}
.dark-mode {
    background-color: #190E4F;
    color: white;
}


a {
    text-decoration: none;
}
.navbar {
    background: #190e4fd7;    
}
.nav-link, .dark-mode-switch {
    color: rgb(255, 255, 255);    
}
.nav-link:hover {
    color: #B33C86;    
}
.cb-dark-mode:checked {
    background-color: #B33C86;
}


.FullPI {
    color: white;
    background-image:
        linear-gradient(#0201595E, #02015981),
        url("../assets/full-page-image.jpg");    
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;    
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.time {
    margin: 0px auto 30px auto;
}
.link {
    color: #EA638C;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border: 2px solid #EA638C;
    border-radius: 50px;
}
.link:hover {
    background-color: #ea638c38;
    color: white;    
}
.btn-contact{
    background: #B33C86;    
}


.card-profile {
    background-color: #b33c8554;
    border-radius: 40px;
}
.icon-container {
    margin: 20px;
}
.icon-container > div > p {
    font-size: 0.875em;
}
.icon-container > div > h2 {
    color: #B33C86;
    font-size: 1em;
}


.blog-title {
    background: #b33c8554;
    color: rgb(100, 100, 100);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.blog-image {    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.project {    
    background: #b33c8554;
}
.project-title {
    color: rgb(100, 100, 100);
}
.card {
    border-radius: 20px;
    color: black;
}
.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.btn-project{
    background: #B33C86;
    color: white;  
}


textarea {
    height: 23vh;
}
.form-control {
    border-radius: 8px;
}
.form-label{
    font-weight: 600;
}
.btn-kirim {
    background-color: #B33C86;
    border-radius: 30px;   
    height: 7vh; 
}

footer {
    border-top: #EA638C solid;
}
.span-footer-1 {
    color: #B33C86;
    font-weight: bold;
}
.span-footer-2 {
    color: #712CF9;
    font-weight: bold;
}